:root {
  --dark-10: #121214;
  --dark-20: #f3f7ff;
  --dark-30: #fff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--dark-30);
}

body {
  font-family: var(--font-archivo);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
